{% extends "monitor/base.html"%}
{% load static%}
{% load string_format %}


{% block css %}
    <style type="text/css">
        .ck {
            margin-bottom: 5px;
            padding: 5px;
            margin-left: 10px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/monitor/css/question_index.css">
{% endblock %}


{% block content %}
<div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-10 col-xl-8">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <div class="auth-logo">
                                    <a href="#" class="logo logo-dark text-center">
                                    </a>

                                    <a href="#" class="logo logo-light text-center">
                                    </a>
                                </div>

                                <h2 class="text-muted mb-1 mt-3"> All QUESTIONS </h2>
                            </div>


                            <div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12" style="height: 100%;">
                                        <p style="padding:5px; text-align: center; color: white; font-weight: bold; font-size: 20px;">
                                            My Questions
                                        </p>
                                        <ul class="header-cta grid-y" style="gap: 0.5rem; height: 100%; background-color: white; color:white;">
                                            {% for a in data %}
                                            <li>
                                                <a class="header-cta__button ques_class" style="background-color: #3283f6; color:white;" id="{{a.id}}" href="#apply{{a.id}}"  data-toggle="collapse"> 
                                                    <span style="text-align:left; float: left;">
                                                    Question Title:  {{a.question_title}} <br>
                                                    Course Name:  {{a.course_fk.course_name}} <br>
                                                    Course Code:  {{a.course_fk.course_code}}
                                                    </span>
                                                </a>
                                            </li>
                                            <div id="apply{{a.id}}" class="collapse"  style="width: 100%;">
                                                {% for b in a.subquestions_set.all %}
                                                    <div style="margin-left: 0; color: black; width: 100%; text-align: left; background-color: white;">
                                                        <div class="ck">
                                                            Question {{ forloop.counter }}. <br>
                                                            {{b.question}}
                                                        </div>
                                                        <div class="ck">
                                                            {% if b.multiple_answers %}
                                                            Multiple Choice: <br> 
                                                            {% with list1=b.multiple_answers|string_filter %}
                                                            {% for cc in list1 %}
                                                                <input type="checkbox" name=""> {{cc}}<br>
                                                            {% endfor %}
                                                            {% endwith %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="ck">
                                                            Answer: <br>
                                                            {{b.correct_answer}} <br>
                                                        </div>
                                                    </div>
                                                    <br>
                                                {% endfor %}
                                            </div>
                                            <a href="/responses/{{a.id}}" style="width: 100%; text-align: left; background-color: green; padding: 5px; color: white;">&nbsp&nbsp Submitted Responses</a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                          </div>
                        </div> <!-- end card-body -->
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>




<script type="text/javascript">
    

</script>
{% endblock %}