{% extends "monitor/base.html"%}
{% load static%}


{% block content %}
<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="text-center topic"> USERS DATA </div>
		<div class="card bg-pattern col-md-12 d-block p-2">
			<div class="table-responsive">
		        <table id="example1" class="display cell-border" style="width:100%">
		            <thead>
		                <tr>
		                    <th>Name</th>
		                    <th>User Role</th>	                    
		                </tr>
		            </thead>
		            <tbody>                                        
		            	{% for a in data_table %}
		                <tr class="clickable" id={{sb_list.pk}}>
		                    <td>{{a.first_name}} {{a.last_name}}</td>
		                    <td>{{a.user_role}}</td>
		                </tr>
		                {% endfor %}
		            </tbody>
		        </table>
		    </div>
		</div>
		<br>

		
		<div class="row col-md-12">
			<div class="d-inline-block col-md-4">
				<div class="col-md-12 text-center topic"> Summary of Roles </div>
				<div class="card bg-pattern col-md-12 d-block">
					<div class="table-responsive">
				        <table id="example2" class="display cell" style="width:100%">
				            <thead>		            	
				                <tr>
				                	<th>Roles </th>
				                	<th>Count </th>
				                </tr>
				            </thead>
				            <tbody>  
				            {% for key, value in role.items %}
				            <tr>
			                	<td>{{key}}</td>
			                	<td> {{value}} </td>
			                </tr>
			                {% endfor %}
				            </tbody>
				        </table>
				    </div>
				</div>
				<br>
				<div class="col-md-12 text-center topic"> Summary of Gender </div>
				<div class="card bg-pattern d-block col-md-12">
					<div class="table-responsive">
				        <table id="example3" class="display cell" style="width:100%">
				            <thead>
				                <tr>
				                	<th>Gender </th>
				                	<th>Count </th>
				                </tr>
				            </thead>
				            <tbody> 
				            	{% for key, value in gender.items %}                                       
				            	<tr>
				                	<td>{{key}} </td>
				                	<td> {{value}} </td>
				                </tr>
				                {% endfor %}
				            </tbody>
				        </table>
				    </div>
				</div>
			</div>

			<div class="d-inline-block col-md-4">
				<div class="col-md-12 text-center topic"> Summary of Tests </div>
				<div class="card bg-pattern col-md-12 d-block">
					<div class="table-responsive">
				        <table id="example4" class="display cell" style="width:100%">
				            <thead>		            	
				                <tr>
				                	<th>Focus </th>
				                	<th>Count </th>
				                </tr>
				            </thead>
				            <tbody>  
					            <tr>
				                	<td> Questions </td>
				                	<td> {{questions_served}} </td>
				                </tr>
				                <tr>
				                	<td> Answers </td>
				                	<td> {{answers_served}} </td>
				                </tr>
				            </tbody>
				        </table>
				    </div>
				</div>
				<br>
				<div class="col-md-12 text-center topic"> Summary of Scores </div>
				<div class="card bg-pattern d-block col-md-12">
					<div class="table-responsive">
				        <table id="example5" class="display cell" style="width:100%">
				            <thead>
				                <tr>
				                	<th>Focus </th>
				                	<th>Score </th>
				                </tr>
				            </thead>
				            <tbody>   
				            	{% for key, value in scores.items %}                                        
				            	<tr>
				                	<td> {{key}} </td>
				                	<td> {{value}} </td>
				                </tr>
				                {% endfor %}
				            </tbody>
				        </table>
				    </div>
				</div>
			</div>

			<div class="d-inline-block col-md-4">
				<div class="col-md-12 text-center topic"> Summary of Courses (turn up of students) </div>
				<div class="card bg-pattern col-md-12 d-block">
					<div class="table-responsive">
				        <table id="example6" class="display cell" style="width:97%">
				            <thead>		            	
				                <tr>
				                	<th>Focus </th>
				                	<th>Course code </th>
				                	<th>Count </th>
				                </tr>
				            </thead>
				            <tbody>  
				            {% for key, value in course_student.items %}
				            <tr>
			                	<td>{{key}}</td>
			                	<td> {{value.question_fk__course_fk__course_code}} </td>
			                	<td> {{value.num_students}} </td>
			                </tr>
			                {% endfor %}
				            </tbody>
				        </table>
				    </div>
				</div>
				<br>
				<div class="col-md-12 text-center topic"> Summary of Performing Course </div>
				<div class="card bg-pattern d-block col-md-12">
					<div class="table-responsive">
				        <table id="example7" class="display cell" style="width:97%">
				            <thead>
				                <tr>
				                	<th>Focus </th>
				                	<th>Course code </th>
				                	<th>Total </th>
				                </tr>
				            </thead>
				            <tbody> 
				            	{% for key, value in course_score.items %}
					            <tr>
				                	<td>{{key}}</td>
				                	<td> {{ value.question_fk__course_fk__course_code}} </td>
				                	<td> {{ value.sum_score }} </td>
				                </tr>
				                {% endfor %}
				            </tbody>
				        </table>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
			
	
</div>

<script type="text/javascript">
	$('.item').first().addClass('active')

	$(document).ready(function() {
	    $('#example1').DataTable({
	    	'pageLength' : 5,
	    	'lengthChange': false
	    });

	    $('#example2').DataTable({
	    	'lengthChange': false,
	    	'searching': false,
	    	'paging' : false,
	    	"bInfo": false,
	    });

	    $('#example3').DataTable({
	    	'lengthChange': false,
	    	'searching': false,
	    	'paging' : false,
	    	"bInfo": false,
	    });

	    $('#example4').DataTable({
	    	'lengthChange': false,
	    	'searching': false,
	    	'paging' : false,
	    	"bInfo": false, 
	    });

	    $('#example5').DataTable({
	    	'lengthChange': false,
	    	'searching': false,
	    	'paging' : false,
	    	"bInfo": false,
	    });

	    $('#example6').DataTable({
	    	'lengthChange': false,
	    	'searching': false,
	    	'paging' : false,
	    	"bInfo": false,
	    });

	    $('#example7').DataTable({
	    	'lengthChange': false,
	    	'searching': false,
	    	'paging' : false,
	    	"bInfo": false,
	    });
	});
		    

</script>
{% endblock %}