{% extends "monitor/base.html"%}
{% load static%}


{% block content %}
<div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <div class="auth-logo">
                                    <a href="#" class="logo logo-dark text-center">
                                    </a>

                                    <a href="#" class="logo logo-light text-center">
                                    </a>
                                </div>
                                {% block flash %}
                                <ul class="messages" id="messages-list">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <li style="list-style-type: none;">
                                        {% if message.tags %}
                                        <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
                                        {% else %}
                                        <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                                {% endblock %}

                                <p class="text-muted mb-4 mt-3"> Tell us more about yourself so we get to know you better..</p>
                            </div>

                            {% if form_details.authentication_failed %}
                            <div class="alert alert-danger">
                                Invalid login details
                            </div>
                            {% endif %}

                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" value="{{student_data.user.first_name}}">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name" value="{{student_data.user.last_name}}">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter your phone number" value="{{student_data.user.contact}}">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="level" name="level" required=""
                                        placeholder="Enter your level" value="{{student_data.leve}}">
                                </div>
                                <div class="form-group mb-3" id='loop_course'>
                                    <label class="col-md-12"> Select the courses assigned to you </label>
                                    {% for a in all_course %}
                                    <div></div>
                                    <input type="checkbox" value="{{a.id}}" name="courses" style="width:20px; height:15px"> <a>&nbsp {{a.course_name}} - {{a.course_code}}</a>
                                    <br>
                                    {% endfor %}
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary btn-block" type="submit"> Submit </button>
                                </div>
                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p> <a href="auth-recoverpw.html" class="text-white-50 ml-1">Forgot your password?</a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>



<script type="text/javascript">
    $('#level').change(function(){
        var level = $('#level').val()
        $.get(`/get_student_level_courses/${level}`, function(data){
            $('#loop_course').html(data)
        })
    })
</script>
{% endblock %}