{% extends "monitor/base.html"%}
{% load static%}
{% load string_format %}


{% block css %}
    <style type="text/css">
        .ck {
            margin-bottom: 5px;
            padding: 5px;
            margin-left: 10px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/monitor/css/question_index.css">
{% endblock %}


{% block content %}
<div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-10 col-xl-10">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <div class="auth-logo">
                                    <a href="#" class="logo logo-dark text-center">
                                    </a>

                                    <a href="#" class="logo logo-light text-center">
                                    </a>
                                </div>

                                <h2 class="text-muted mb-1 mt-3"> All TESTS </h2>
                            </div>


                            <div>
                                <div class="row">
                                    <form></form>
                                    <div class="col-lg-12 col-sm-12" style="height: 100%;">
                                        <p style="padding:5px; text-align: center; color: white; font-weight: bold; font-size: 20px;">
                                            My TESTS
                                        </p>

                                        <div class="row">
                                            {% for a in tests %}
                                            {% for aa in a %}
                                            <ul  class="col-md-7" style="text-align:left; float: left; list-style: none; width: 100%"> 
                                                <li>Question Title:  {{aa.question_title}} </li>
                                                <li>Course Name:  {{aa.course_fk.course_name}} </li>
                                                <li>Course Code:  {{aa.course_fk.course_code}}</li>
                                            </ul>
                                            <div class="col-md-2 text-center align-self-center" style="width: 100%; background-color: blue; padding: 15px; border-radius: 5px; float: right; ">
                                                <a href="#" class="test_button" id="{{aa.id}}"  style="color: white;"> {% if aa.schedule.date_scheduled %} Opening date: {{aa.schedule.date_scheduled}} {% elif aa.schedule.show_now == 'open' %} Opened {% else %} Closed {% endif %} </a>
                                            </div>
                                            <p style="width:20px;"> </p>
                                            <div class="col-md-2 text-center align-self-center" style="width: 100%; background-color: #45b35d; padding: 15px; border-radius: 5px; float: right; ">
                                                <a href="{% url 'results' aa.id %}" class="test_button2" id=""  style="color: white;"> View Results </a>
                                            </div>
                                            {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div> <!-- end card-body -->
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>




<script type="text/javascript">
    

var buts = document.getElementsByClassName('test_button')
for (var a=0; a<buts.length; a++){
    buts[a].addEventListener('click', function(e){
        e.preventDefault()
        if (this.click){
            if (this.innerText ===  'Opened'){
               location.href = `/take_tests/${this.id}`
           }            
        }
    })
}
</script>
{% endblock %}