aiohttp==3.6.2
amqp==2.6.1
arabic-reshaper==2.1.3
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
awsebcli==3.20.3
bcrypt==3.2.2
billiard==3.6.3.0
blessed==1.19.1
botocore==1.23.54
branca==0.4.2
cached-property==1.5.2
celery==4.4.7
cement==2.8.2
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.3
coverage==6.3.2
cryptography==3.0
cycler==0.11.0
dj-database-url==0.5.0
Django==3.0.7
django-cors-headers==3.10.0
django-dbbackup==3.3.0
django-debug-toolbar==3.2.4
django-extensions==3.0.2
django-geoipdb-loader==1.0.0
django-geojson==3.0.0
django-google-maps==0.12.4
django-redis==5.2.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
djangorestframework==3.11.0
djangorestframework-gis==0.18
djongo==1.3.6
dnspython==2.2.1
docker==4.4.4
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
drf-jwt==1.19.2
flake8==4.0.1
folium==0.12.1.post1
fonttools==4.29.1
future==0.16.0
gevent==21.12.0
greenlet==1.1.3
gunicorn==20.1.0
html5lib==1.1
idna==2.10
idna-ssl==1.1.0
importlib-metadata==1.7.0
inflect==5.3.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
kiwisolver==1.3.2
kombu==4.6.10
Markdown==3.3.4
MarkupSafe==2.1.0
martor==1.6.13
matplotlib==3.5.1
maxminddb==2.0.2
mccabe==0.6.1
mongoengine==0.24.1
MouseInfo==0.1.3
multidict==4.7.6
munch==2.5.0
numpy==1.22.2
opencv-python-headless==4.5.5.64
packaging==21.3
pandas==1.4.1
paramiko==2.11.0
pathspec==0.9.0
pdfkit==0.6.1
pika==1.2.1
Pillow==7.2.0
psutil==5.9.2
psycopg2-binary==2.8.5
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pycparser==2.20
pyfcm==1.4.7
pyflakes==2.4.0
PyGetWindow==0.0.9
PyJWT==1.7.1
pymongo==3.12.3
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==19.1.0
pyparsing==3.0.7
PyPDF2==1.26.0
pyperclip==1.8.2
pyproj==3.3.0
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.20.0
python-snappy==0.6.1
python3-xlib==0.15
pytweening==1.0.4
pytz==2020.1
PyYAML==5.4.1
redis==3.5.3
reportlab==3.6.8
requests==2.26.0
Rtree==0.9.7
scikit-learn==1.0.2
scipy==1.8.0
semantic-version==2.8.5
Shapely==1.8.0
six==1.14.0
slack-logger==0.3.1
sqlparse==0.2.4
termcolor==1.1.0
texttable==1.6.4
threadpoolctl==3.1.0
typing-extensions==3.7.4.2
ujson==3.1.0
urllib3==1.26.11
vine==1.3.0
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
whitenoise==5.3.0
xhtml2pdf==0.2.5
yarl==1.5.1
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.4.0
