.header-cta {
    /*justify-content: space-evenly;*/
}

.header-cta {
    flex-direction: column!important;
    margin-bottom: 0!important;
    color: #000!important;
}

.header-cta {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}


.header-cta__button {
    font-size: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fc0;
}

.header-cta__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
/*    padding: 1rem;
    border-radius: 5px;*/
}


.grid-y {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}


@media only screen and (min-width: 1230px){
.header-cta {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
}


[id=program-sorter] .header-cta>li {
    max-width: none;
    width: 100%;
    border: none;
    display: block;
    flex: 0;
}


.header-cta>li {
    left: 0!important;
    width: 100%!important;
    max-width: none!important;
    padding-right: 0!important;
    border-bottom: none!important;
}


.header-cta>li {
    display: inline-flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
}


@media (min-width: 881px){
@supports (display:grid){
.column.large-3 {
    grid-column-start: auto;
    grid-column-end: span 3;
}
}
}

[id=program-sorter] .header-cta__button {
    font-size: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fc0;
}


.header-cta__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
}


.header-cta__button {
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
    font-size: 1.05rem;
    line-height: 1.25;
    text-decoration: underline transparent;
    background-color: #ffd500;
    transition: background-color .15s,text-decoration .1s;
}


.tooltips {
  position: relative;
  display: inline-block;
  width: 40px;
  /*border-bottom: 1px dotted black;*/
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  /*right: 100%;*/
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent grey transparent transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
}


#ques_title {
    font-size: 20px;
}

/*.ques_buts {
    padding: 15px
}*/


select {
  background-color: white;
  border: thin solid grey;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.arrows {
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}

select.arrows:focus {
  border-color: blue;
  outline: 0;
}


.checkbx {
    border-radius: 25px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    /*margin-bottom: 10px;*/
}

.add_option_but{
    border-radius: 5px;
    width: 80px;
    /*padding: 3px;*/
    /*margin-left: 10px;*/
}


.multiple_text_input {
    border: none;
    /*margin-bottom: 10px;*/
    /*padding: 5px;*/
    /*border-bottom-style: groove;*/
}


.multiple_text_input:focus {
    outline: none;
    border-bottom-style: groove;
}


.fill_in_text {
    margin-left: 10px;
}


.essay_text {
    margin-left: 10px;
}


.remove_butt_div {
    margin-left: 25px!important;
}


.level_semester {
    margin-top: 15px;
    margin-left: 0;
}